body {
    background-color: black;
}

.right {
    display: none;
}

header {
    display: flex;
}

.heads::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.container {
    display: block;
    margin-left: 1em;
    margin-right: 1em;
}